{% extends 'base.html.twig' %}

{% block title %}Personnel{% endblock %}

{% block body %}
    <h1>Personnel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Personnelid</th>
                <td>{{ personnel.personnelid }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ personnel.matricule }}</td>
            </tr>
            <tr>
                <th>Numcin</th>
                <td>{{ personnel.numcin }}</td>
            </tr>
            <tr>
                <th>Datecin</th>
                <td>{{ personnel.datecin ? personnel.datecin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Validitecin</th>
                <td>{{ personnel.validitecin ? personnel.validitecin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nomfr</th>
                <td>{{ personnel.nomfr }}</td>
            </tr>
            <tr>
                <th>Nomar</th>
                <td>{{ personnel.nomar }}</td>
            </tr>
            <tr>
                <th>Prenomfr</th>
                <td>{{ personnel.prenomfr }}</td>
            </tr>
            <tr>
                <th>Prenomar</th>
                <td>{{ personnel.prenomar }}</td>
            </tr>
            <tr>
                <th>Adressefr</th>
                <td>{{ personnel.adressefr }}</td>
            </tr>
            <tr>
                <th>Adressear</th>
                <td>{{ personnel.adressear }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ personnel.sexe }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ personnel.datenaissance ? personnel.datenaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ personnel.lieunaissance ? personnel.lieunaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numcnss</th>
                <td>{{ personnel.numcnss }}</td>
            </tr>
            <tr>
                <th>Numcimr</th>
                <td>{{ personnel.numcimr }}</td>
            </tr>
            <tr>
                <th>Telpersonnel</th>
                <td>{{ personnel.telpersonnel }}</td>
            </tr>
            <tr>
                <th>Telprofessionnel</th>
                <td>{{ personnel.telprofessionnel }}</td>
            </tr>
            <tr>
                <th>Emailpersonnel</th>
                <td>{{ personnel.emailpersonnel }}</td>
            </tr>
            <tr>
                <th>Emailprofessionnel</th>
                <td>{{ personnel.emailprofessionnel }}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ personnel.typecontrat }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ personnel.fonction }}</td>
            </tr>
            <tr>
                <th>Affectation</th>
                <td>{{ personnel.affectation }}</td>
            </tr>
            <tr>
                <th>Dateentree</th>
                <td>{{ personnel.dateentree ? personnel.dateentree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Situationfamiliale</th>
                <td>{{ personnel.situationfamiliale }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ personnel.salaire }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                <td>{{ personnel.banque }}</td>
            </tr>
            <tr>
                <th>Numrib</th>
                <td>{{ personnel.numrib }}</td>
            </tr>
            <tr>
                <th>Diplomes</th>
                <td>{{ personnel.diplomes }}</td>
            </tr>
            <tr>
                <th>Dateobtdiplome</th>
                <td>{{ personnel.dateobtdiplome ? personnel.dateobtdiplome|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ personnel.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personnel_index') }}">back to list</a>

    <a href="{{ path('personnel_edit', {'personnelid': personnel.personnelid}) }}">edit</a>

    {{ include('personnel/_delete_form.html.twig') }}
{% endblock %}
