{% extends 'base.html.twig' %}

{% block title %}Races{% endblock %}

{% block body %}
    <h1>Races</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Raceid</th>
                <td>{{ race.raceid }}</td>
            </tr>
            <tr>
                <th>Racefr</th>
                <td>{{ race.racefr }}</td>
            </tr>
            <tr>
                <th>Especefr</th>
                <td>{{ race.especefr }}</td>
            </tr>
            <tr>
                <th>Racear</th>
                <td>{{ race.racear }}</td>
            </tr>
            <tr>
                <th>Especear</th>
                <td>{{ race.especear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('races_index') }}">back to list</a>

    <a href="{{ path('races_edit', {'raceid': race.raceid}) }}">edit</a>

    {{ include('races/_delete_form.html.twig') }}
{% endblock %}
