<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>{% block title %}Dashtreme - Multipurpose Bootstrap4 Admin Template{% endblock %}</title>
  <!--favicon-->
  <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon"/>
  <!-- Vector CSS -->
  <link href="{{ asset('assets/plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="{{ asset('assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{{ asset('assets/css/sidebar-menu.css') }}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{{ asset('assets/css/app-style.css') }}" rel="stylesheet"/>
  <!-- App Style-->
  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
   <link href="{{ asset('assets/spin.css') }}" rel="stylesheet"/>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('assets/js/jquery.min.js') }}"></script>  
  <!--Data Tables Dossier bundle js  -->
  <script src="{{ asset('bundles/datatables/js/dataTables.min.js') }}"></script>  
  <script src="{{ asset('assets/js/popper.min.js') }}"></script>

  <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
 

   <!--Data Tables css and js -->
   <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js') }}"></script>
   <link  href="{{ asset('bundles/datatables/css/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
   <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
   <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js') }}"></script>

   <!-- Parsley css -->
  <link href="{{ asset('assets/plugins/parsley/css/parsley.css') }}" rel="stylesheet"/>
  <!-- keyboard css -->
  <link href="{{ asset('assets/plugins/jqbtk/css/jqbtk.min.css') }}" rel="stylesheet"/>
  
  {% block stylesheets %}{% endblock %}
</head>

<body>

  {% include'base/header.html.twig' %}
  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      {% block body %}{% endblock %}
      <!--End Dashboard Content-->

    </div>
    <!-- End container-fluid-->  
  </div><!--End content-wrapper-->

	{% include'base/footer.html.twig' %}  

  <!-- simplebar js -->
  <script src="{{ asset('assets/plugins/simplebar/js/simplebar.js') }}"></script>
  <!-- sidebar-menu js -->
  <script src="{{ asset('assets/js/sidebar-menu.js') }}"></script>
  <!-- loader scripts -->
  <script src="{{ asset('assets/js/jquery.loading-indicator.js') }}"></script>
  <!-- Custom scripts -->
  <script src="{{ asset('assets/js/app-script.js') }}"></script>
  <!--Data Tables js --> 
  <!-- <script src="{{ asset('assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js') }}"></script>-->
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/jszip.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/pdfmake.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/vfs_fonts.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js') }}"></script> 
  <!-- Chart js -->
  <script src="{{ asset('assets/plugins/Chart.js/Chart.min.js') }}"></script>
  <!-- Vector map JavaScript -->
  <script src="{{ asset('assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
  <!-- Easy Pie Chart JS -->
  <script src="{{ asset('assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
  <!-- Sparkline JS -->
  <script src="{{ asset('assets/plugins/sparkline-charts/jquery.sparkline.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/jquery-knob/excanvas.js') }}"></script>
  <script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.js') }}"></script>
  {% block javascripts %}{% endblock %}  
    <script>
        $(function() {
            $(".knob").knob();
        });
    </script>
  <!-- Index js -->
  <!-- <script src="{{ asset('assets/js/index.js') }}"></script>-->
  <!--fichier JQuery-->
  <script src="{{ asset('assets/js/index_JQ.js') }}" type="module"></script>
  <!-- Parsley js -->
  <script src="{{ asset('assets/plugins/parsley/js/parsley.min.js') }}"></script>
  <!-- keyboard js -->
  <script src="{{ asset('assets/plugins/jqbtk/js/jqbtk.min.js') }}"></script>
    
</body>
</html>
